version: 2.1

jobs:
  build_and_test:
    docker:
      - image: circleci/node:lts
    working_directory: ~/repo
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "20:9f:da:0b:18:17:9b:5f:df:54:3c:d7:64:db:25:37"
      - run:
          name: Build and Test
          command: |
            echo "build stuff here"
            npm install
      - run:
          name: Try semantic-release dry run
          command: |
            npx semantic-release --branch ${CIRCLE_BRANCH} --dry-run

  release:
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - run:
          name: Build and Release
          command: |
            npm install
            npx semantic-release --branch ${CIRCLE_BRANCH} --dry-run
            next_version=$(npx semantic-release --branch ${CIRCLE_BRANCH} --dry-run | grep "The next release version is" | sed -n -e 's/^.*is //p')
            sed -i "s/THE_ORB_VERSION\"${next_version}\"/g" thing-with-version.yaml
            # npx semantic-release --branch ${CIRCLE_BRANCH}

workflows:
  version: 2
  build_test_release:
    jobs:
      - build_and_test
      - release:
          context: nodejs-lib-release
          requires:
            - build_and_test
          filters:
            branches:
              only: master
              
